/* ------------------Font---------------------- */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(../font/DroidSans.woff) format('woff');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(../font/DroidSansBold.woff) format('woff');
}

/* ------------------Body--------------------- */
body {
	background-color: #999999;
}

#container-main {
	position: relative;
	background-color: #FFFFFF;
	margin: 30px auto;
	padding: 30px;
	color: #A5A5A5;
	font: 16px/25px 'Droid Sans', sans-serif;
}

/* ------------------Head--------------------- */
#socials {
	height: 40px;
	margin-top: 5px;
}

#btn-search {
	top: 4px;
	right: 5px;
	width: 32px;
	height: 32px;
	border: none;
	position: absolute;
	cursor: pointer;
	background: url('../img/search.png') center center no-repeat;
}

#logo {
	padding: 40px 0px;
	text-align: center;
	background: #76D2C5;
}

#logo > h1 {
	font-size: 60px;
	color: #ffffff;
	line-height: 80px;
}

#navbar {
	background: #91DBD1;
}

#navbar > ul > li > a {
	font-size: 18px;
	color: #ffffff;
	display: block;
	padding: 6px 30px;
	margin-bottom: 5px;
	z-index: 6;
	position: relative;
	text-decoration: none;
}

#navbar > ul > li:hover{
	background-color: #ffffff;
}

#navbar > ul > li:hover > a{
	color: #000000;
}

#navbar > ul > li.active{
	background-color: #ffffff;
}

#navbar > ul > li.active > a{
	color: #000000;
}

/* ------------------content------------------- */
.content{
	margin-top: 30px;
}
.content:before, .content:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.content:after{
	clear: both;
}

/* ------------------menu------------------- */
.menu {
	color: #000000;
	padding: 20px;
	margin-bottom: 40px;
	border: 1px solid #EEEEEE;
}

.menu > p {
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.menu > ul {
  margin-top: 0em;
  margin-left: 2.5em;
  margin-bottom: 0.5em;
}

.menu > ul > li.active {
  text-decoration: underline;
}

/* ------------------head------------------ */
.head {
	color: #000000;
	padding: 20px;
	margin-bottom: 40px;
	border: 1px solid #EEEEEE;
}
.head > .pagination {
  margin-left: auto;
  margin-right: auto;
	/* color: black; */
  /* font-family: 楷体, 宋体; */
	/* font-style: italic; */
}


/* ------------------article------------------- */
.article {
	color: #2E2E2E;
	padding: 20px;
	margin-bottom: 40px;
	border: 1px solid #EEEEEE;
}
.article h1{
	font-size: x-large;
	text-align: center;
	border-bottom: 1px solid #EEEEEE;
	padding: 10px 0 30px 0;
	margin-bottom: 20px;
}
.article h2{
	font-size: large;
	font-weight: bold;
}
.article h3{
	font-size: medium;
	font-weight: bold;
}
.article h4{
	margin: 0.5em;
	font-size: medium;
	text-indent: 0em;
}
.article h5{
	margin: 0.5em;
	font-size: medium;
	text-indent: 0em;
}
.article p{
	font-size: medium;
	margin: 0.5em;
	text-indent: 2em;
}
.article pre{
    display: block;
	overflow-x: auto;
	margin: 0.5em;
	padding:0.5em;
	background-color:#F0F0F0;
	border-radius:0.3em;
}   /* white-space:pre-wrap; 自动换行 */
.article img{
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	display:block
}
.article a{
	text-decoration: none;
}

/* ------------------box------------------- */
.box {
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
	padding: 20px;
	font-size: medium;
	font: 16px/25px 'Droid Sans', sans-serif;
}
.box .head {
	text-align:center;
}
.box .head h2 {
	font-size: large;
}
.box .menu {
	padding:15px
}
.box .menu img {
	float:left;
	padding:3px;
	border:1px solid #EEEEEE;
	margin-right:10px;
}
.box .menu .post {
	margin-bottom: 20px;
}
.box .menu .post h4{
	font-size: medium;
	font-weight:normal;
}
.box .menu .post p{
	color:#A3A3A3;
	font-style:italic;
}
.box .menu a{
	text-decoration:none
}

/**/
@media only screen and (min-width: 1024px) {
	#container-main{width: 1024px;}
}

@media only screen and (max-width: 1024px) {
	#container-main{width: 100%;}
}
