<div class="menu">
	<ul>
	{% for item in menu %}
		{% with id = menu[item]["id"] %}
			<li class="head head_{{id}}" onclick="$('.menu .body_{{ id }}').toggle();">
				<p> {{item}} </p>
			</li>
			{% with child = menu[item]['child'] %}
				{% for value in child %}
					<li class="body body_{{id}}" onclick="javascript:viewHead('#content_1', '{{child[value]}}')">
						<p> {{value}} </p>
					</li>
				{% endfor %}
			{% endwith %}
		{% endwith %}
	{% endfor %}
	</ul>
</div>
{#
	<ul>
		<li>
			<p>一级菜单</p>
			<ul>
				<li>二级菜单</li>
				<li>二级菜单</li>
			</ul>
		</li>
		<li>
			<p>一级菜单</p>
			<ul>
				<li>二级菜单</li>
				<li>二级菜单</li>
			</ul>
		</li>
		<li>
			<p>一级菜单</p>
			<ul>
				<li>二级菜单</li>
				<li>二级菜单</li>
			</ul>
		</li>
	</ul>
#}