{#
<div class="menu">
	<div id="jquery-accordion-menu" class="jquery-accordion-menu white">
		<div class="jquery-accordion-menu-header" id="form">所有文章</div>
		<ul id="demo-list">
			{% for item in menu %}
				<li>
				<a href="#">{{item}}</a>
					<ul class="submenu">
					{% with id = menu[item]["id"] %}
						{% with child = menu[item]['child'] %}
							{% for value in child %}
								<li>
									<a href="#"  onclick="javascript:viewHead('#content_1', '{{child[value]}}')"> {{value}} </a>
								</li>
							{% endfor %}
						{% endwith %}
					{% endwith %}
					</ul>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
#}

{#
<div class="content">
	<div id="jquery-accordion-menu" class="jquery-accordion-menu white">
		<div class="jquery-accordion-menu-header" id="form">全部</div>
		<ul id="demo-list">
			<li><a href="#">Home </a></li>
			<li><a href="#">Events </a></li>
			<li><a href="#">Gallery </a> <span class="jquery-accordion-menu-label">12</span></li>
			<li><a href="#">Services </a>
				<ul class="submenu">
					<li><a href="#">Web Design </a></li>
					<li><a href="#">Hosting </a></li>
					<li><a href="#">Design </a></li>
					<li><a href="#">Consulting </a></li>
				</ul>
			</li>
			<li><a href="#">Portfolio</a>
				<ul class="submenu">
					<li><a href="#">Web Design </a></li>
					<li><a href="#">Graphics </a><span class="jquery-accordion-menu-label">10 </span></li>
					<li><a href="#">Photoshop </a></li>
					<li><a href="#">Programming </a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
#}


<div class="menu">
	<ul>
	{% for item in menu %}
		{% with id = menu[item]["id"] %}
			<li class="head head_{{id}}" onclick="$('.menu .body_{{ id }}').toggle();">
				<p> {{item}} </p>
			</li>
			{% with child = menu[item]['child'] %}
				{% for value in child %}
					<li class="body body_{{id}}" onclick="javascript:viewHead('#content_1', '{{child[value]}}')">
						<p> {{value}} </p>
					</li>
				{% endfor %}
			{% endwith %}
		{% endwith %}
	{% endfor %}
	</ul>
</div>
