<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<title>My Local Page</title>

		<!-- 适应移动端 -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- Bootstrap -->
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
					integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
					crossorigin="anonymous">

		<!-- 自定义CSS -->

	<link rel="stylesheet" href="/css/index.css" charset="utf-8">


		<!-- JS -->
		<!-- JQuery slim -->
		<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->

		<!-- JQuery -->
		<!-- <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script> -->
		<!-- <script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js"
						integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
						crossorigin="anonymous"></script> -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js"
						integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
						crossorigin="anonymous"></script>

		<!-- Vue integrity值未知，暂用本地数据 -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js" integrity="sha384-94230eb1714d1db177fa14e3734c6e133fe4f1a7f0d20e3440c717f4bd1d7a68df17c8420026b86b06a5ed830196fa50" crossorigin="anonymous"></script> -->
		<script type="text/javascript" src="/js/vue.min.js" charset="utf-8"></script>

		<!-- Popper -->
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
						integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
						crossorigin="anonymous"></script>

		<!-- bootstrap -->
		<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
						integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
						crossorigin="anonymous"></script>

		<!-- 自定义js -->

	<script type="text/javascript" src="/js/index.js" charset="utf-8"></script>

	</head>
	<body>
		<!-- 正文 -->

	<div class="container" id="container-main">
		<div class="row" id="socials">
				<div class="col-8">
						<span><a href="https://www.baidu.com/" target="_blank" title="baidu"><img src="/img/socials/baidu-32x32.png" /></a></span>
						<span><a href="http://172.17.111.55/" target="_blank" title="ERP数据查询"><img src="/img/socials/zbj-32x32.png" /></a></span>
						<span><a href="http://hades.zhubajie.la/" target="_blank" title="ZBJ数据平台"><img src="/img/socials/hades-32x32.png" /></a></span>
						<span><a href="https://www.scipy.org/" target="_blank" title="Scipy"><img src="/img/socials/scipy-32x32.png" /></a></span>
				</div>
				<div class="col-4">
					<div class="input-group float-right">
       			<input type="text" class="form-control" placeholder="搜索" autocomplete="off" oninput="javascript:searchArticle($(this).val());" / >
						<button class="btn btn-info btn-search" id="btn-search"></button>
					</div>
				</div>
		</div>

		<div class="row">
			<div class="col-12" id="logo">
				<h1>My Local Page</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-12" id="navbar">
				<ul class="nav nav-pills">
					<li data-href="#content_0" class="active"><a href="#" onclick="javascript:showContent($(this));">最近</a></li>
					<li data-href="#content_1"><a href="#" onclick="javascript:showContent($(this));">全部</a></li>
					<li data-href="#content_2"><a href="#" onclick="javascript:showContent($(this));">项目</a></li>
					<li data-href="#content_3"><a href="#" onclick="javascript:showContent($(this));"">下载</a></li>
					<!-- <li data-href="#content_4"><a href="#" onclick="javascript:showContent($(this));">留言</a></li> -->
				</ul>
			</div>
		</div>

		<!-- Content 最近 -->
		<div class="row content" id="content_0">
			<div class="col-8 view-part" >
				<div class="article">
<h1>删除Win10设备和驱动器项目</h1>
<ol>
<li>
<p>打开注册表管理器<br />
<img alt="" src="/img/assets/markdown-img-paste-2020051809212349.png" /></p>
</li>
<li>
<p>定位到HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace<br />
<img alt="" src="/img/assets/markdown-img-paste-20200518092238153.png" /></p>
</li>
<li>
<p>删除“默认”以外的不需要的项目</p>
</li>
</ol>
<p><a href="javascript:viewArticle($('#content_0'), '/html/90.其它内容/2020-05-18 删除Win10设备和驱动器项目.html/2020-05-18 删除Win10设备和驱动器项目.html');">...</a></p>
</div>

<div class="article">
<h1>PostgreSQL密码修改</h1>
<h2>方式1：</h2>
<p>使用psql，连接到Postgres Server：</p>
<pre><code>username=&gt; \password
Enter new password:
Enter it again:
username=&gt;
</code></pre>

<p>这种修改方式相当于向postgres server 发送了如下命令：</p>
<pre><code class="sql">ALTER USER postgres PASSWORD 'md53175af154as54df5as4d5f45sd6af'
</code></pre>

<h2>方式2：</h2>
<p>可以直接执行sql修改，可用任意客户端，如pgadmin等：
```sql</p>
<p><a href="javascript:viewArticle($('#content_0'), '/html/70.专业工具/2020-03-31 PostgreSQL密码修改.html');">...</a></p>
</div>


<div class="article">
<h1>MongoDB安装</h1>
<h2>一、下载MongoDB(Zip版)</h2>
<p>url: https://fastdl.mongodb.org/win32/mongodb-win32-x86_64-2012plus-4.2.2.zip</p>
<h2>二、解压到任意目录</h2>
<p>如：D:\MongoDB（若无logs目录，在跟目录下新建）</p>
<h2>三、添加根目录下"bin"到系统环境变量</h2>
<p><img alt="" src="/img/assets/markdown-img-paste-2019121516202662.png" /></p>
<h2>四、在任意位置创建MongoDB配置文件</h2>
<p>如：E:\MongoDB\Conf\mongo.config  </p>
<p><a href="javascript:viewArticle($('#content_0'), '/html/70.专业工具/2019-12-14 MongoDB安装.html');">...</a></p>
</div>


<div class="article">
<h1>Superset安装</h1>
<h2>一、创建虚拟环境</h2>
<ul>
<li>pip install virtualenv</li>
<li>pip install virtualenvwrapper-win</li>
<li>配置环境变量：WORKON_HOME=path</li>
<li>创建：mkvirtualenv venvname</li>
<li>查看：workon</li>
<li>启动：workon venvname</li>
<li>退出：deactivate</li>
<li>删除：rmvirtualenv venv</li>
</ul>
<h2>二、启动虚拟环境</h2>
<p>切换到Virtualenv\superset\Scripts目录，运行"activate"</p>
<h2>三、安装superset</h2>
<p><a href="javascript:viewArticle($('#content_0'), '/html/70.专业工具/2019-12-06 Superset安装.html');">...</a></p>
</div>


<div class="article">
<h1>Python虚拟环境搭建</h1>
<h2>一、包安装</h2>
<pre><code>pip install virtualenv
pip install virtualenvwrapper-win
</code></pre>
<h2>二、配置环境变量</h2>
<p>配置环境变量：WORKON_HOME=path<br />
（path为mkvirtualenv执行文件所在的目录）</p>
<h2>三、管理虚拟环境</h2>
<ul>
<li>创建：mkvirtualenv venvname</li>
<li>查看：workon</li>
<li>启动：workon venvname</li>
<li>退出：deactivate</li>
<li>删除：rmvirtualenv venv</li>
</ul>
<p><a href="javascript:viewArticle($('#content_0'), '/html/70.专业工具/2019-12-06 Python虚拟环境.html');">...</a></p>
</div>

			</div>
			<div class="col-8 view-full d-none" >
			</div>
			<div class="col-4">
				<div class="box" id="profile">
					<p style="text-align:center;"><img src="/img/img4.png" width="80%"/></p>
<!--
<p style="text-indent:0em;">
Felix Chou，中级会计师、注册数据分析师，Python爱好者，致力于业务数据、财务信息的及时互联与高效使用。
</p>
-->
				</div>
				<div class="box" id="recent">
					<div class="head">
	<h2 onclick="javascript:viewHead('#content_0','null');">最近更新</h2>
</div>
<div class="menu">

	<div class="post">
		<img src="img/img4.jpg" width="50px"/>
		<h4><a href="javascript:viewArticle($('#content_0'), 'html/90.其它内容/2020-05-18 删除Win10设备和驱动器项目.html');">删除Win10设备和驱动器项目</a></h4>
		<p>2020-05-18</p>
	</div>

	<div class="post">
		<img src="img/img4.jpg" width="50px"/>
		<h4><a href="javascript:viewArticle($('#content_0'), 'html/70.专业工具/2020-03-31 PostgreSQL密码修改.html');">PostgreSQL密码修改</a></h4>
		<p>2020-03-31</p>
	</div>

	<div class="post">
		<img src="img/img4.jpg" width="50px"/>
		<h4><a href="javascript:viewArticle($('#content_0'), 'html/70.专业工具/2019-12-14 MongoDB安装.html');">MongoDB安装</a></h4>
		<p>2019-12-14</p>
	</div>

	<div class="post">
		<img src="img/img4.jpg" width="50px"/>
		<h4><a href="javascript:viewArticle($('#content_0'), 'html/70.专业工具/2019-12-06 Superset安装.html');">Superset安装</a></h4>
		<p>2019-12-06</p>
	</div>

	<div class="post">
		<img src="img/img4.jpg" width="50px"/>
		<h4><a href="javascript:viewArticle($('#content_0'), 'html/70.专业工具/2019-12-06 Python虚拟环境.html');">Python虚拟环境</a></h4>
		<p>2019-12-06</p>
	</div>

</div>
				</div>
			</div>
		</div>

		<!-- Content 全部 -->
		<div class="row content d-none" id="content_1" data-init="none">
			<div class="col-3 view-menu" >
				<div class="menu">
					<p>按类别：</p>
					<ul class="nav nav-list">
						<li class="nav-item" v-for="val in cate"><a href="#" @click="filterArticle" :data-filter="val" v-text="val.slice(3)"></a></li>
					</ul>
					<hr />
					<p>按时间：</p>
					<ul class="nav nav-list">
						<li class="nav-item"><a href="#" @click="recentArticle" data-recent="1">最近一月</a></li>
						<li class="nav-item"><a href="#" @click="recentArticle" data-recent="3">三月以内</a></li>
						<li class="nav-item"><a href="#" @click="recentArticle" data-recent="6">半年以内</a></li>
						<li class="nav-item"><a href="#" @click="recentArticle" data-recent="0">查看全部</a></li>
					</ul>
				</div>
			</div>
			<div class="col-9 view-part">
				<div class="head">
					<ul>
						<li v-for="(val, key) in show"><a href="#" class="text-primary" onclick="viewArticle($('#content_1'), $(this).data('url'));" :data-url="val" v-text="key"></a></li>
					</ul>
					<p v-show="nlen === 0">无满足满足要求的内容</p>
					<ul class="pagination text-center" v-show="nlen > 1">
						<!-- <li><a class="page-link btn-small" href="#">&laquo;</a><li> -->
						<li><a class="page-link btn-small" href="#content_1" @click="movePage" data-index="-1">&lt;</a><li>
						<li v-for="pn in page"><a class="page-link btn-small" href="#content_1" @click="gotoPage" :data-index="pn" v-text="pn+1"></a><li>
						<li><a class="page-link btn-small" href="#content_1" @click="movePage" data-index="1">&gt;</a><li>
						<!-- <li><a class="page-link btn-small" href="#">&raquo;</a><li> -->
					</ul>
					<!-- <p v-text="show"></p> -->
				</div>
			</div>
			<div class="col-9 view-full d-none" >
			</div>
		</div>

		<!-- Content 项目 -->
		<div class="row content d-none" id="content_2">
			<div class="col-12">
				<div class="article">
					点击访问我的<a href="https://github.com/sone92cn"  target="_blank">GitHub</a>项目
				</div>
			</div>
		</div>

		<!-- Content 下载 -->
		<div class="row content d-none" id="content_3">
			<div class="col-12">
				<div class="article">
					暂无可供下载资源！
				</div>
			</div>
		</div>

		<!-- Content 留言 -->
		<div class="row content d-none" id="content_4">
			<div class="col-12">
				<div class="article">
					<form style="width:100%;">
					<label>请写下您的建议和意见：</label> <br />
					<textarea  rows="10" style="width:100%;border:1px solid #EEEEEE"></textarea><br />
					<label>您的昵称：</label><br />
					<input type=text height="1.2em" width="25em"  style="padding:0.1em;border:1px solid #EEEEEE" /><br />
					<label>您的联系方式：</label><br />
					<input type=text height="1.2em" width="25em" style="padding:0.1em;border:1px solid #EEEEEE" /><br />
					</form>
					<button onclick="javascript:alert('功能建设中，敬请关注！');return 0;" style="float:right;margin-top:30px;">提交</button><br /><br />
				</div>
			</div>
		</div>

	</div>

	</body>
</html>
